@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Inter";
  background: black;
}

.landing1_bg {
  background: url("./assets/landing_desktop_bg.jpg");
}

.landing5_bg {
  background: url("./assets/landing_desktop_bg5.jpg");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
}

@media only screen and (max-width: 720px) {
  .landing1_bg {
    background: url("./assets/landing_mobile_bg.jpg");
  }
  .landing5_bg {
    background: url("./assets/landing_mobile_bg5.jpg");
  }
}

.section_bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
